@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.simple-editor-wrapper {
  --tt-toolbar-height: 44px;
  --tt-theme-text: var(--tt-gray-light-900);

  &.dark {
    --tt-theme-text: var(--tt-gray-dark-900);
  }
}

.tiptap.ProseMirror {
  font-family: "DM Sans", sans-serif;
}

.simple-editor-wrapper {
  width: 100%;
  height: 100vh;
  overflow: auto;
  outline: 1px solid gainsboro;
  border-radius: 8px;
  background-color: rgb(239, 241, 243);
}

.simple-editor-content {
  max-width: 748px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  flex: 1;
  padding: 3rem 3rem 30vh;
  margin: 4rem 0;
  border: 1px solid gainsboro;
  box-shadow: 1px 1px 1px gainsboro;
  background-color: white;
}

@media screen and (max-width: 480px) {
  .simple-editor-content .tiptap.ProseMirror.simple-editor {
    padding: 1rem 1.5rem 30vh;
  }
}
